@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";

body {
  background-image: url("/assets/bg.jpg");
  h1 {
    font-size: 40px;
  }
}


.header {
  background: url("/assets/header_bg.svg") no-repeat center, url("/assets/logo.svg") no-repeat center;
  background-color: #fff;
  height: 60px;
}

// #headerBackground {

// }

// #logo {
//   margin-left: 10%;
// }
.menu {
  //overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 33%;
  background-color: #222;
  color: #808080;
}
.menuItems {
  display: inline-block;
  width: 100%;
}

.threads {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-around;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
}