body {
  display: flex;
  flex-flow: row wrap;
  //background-image: url("/assets/bg.jpg");
  h1 {
    background-color: #fff;
  }
}

#header {
  //background-color: #fff;
}

.menuItems {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #222;
  color: #808080;
}